<div class="page-header">
  <h1>Welcome to SimplyIoT</h1>
</div>
<p>SimplyIoT is an IoT management web app that empowers consumers. Off-the-shelf IoT products discourages users from buying devices outside of their ecosystem. Our app integrates WiFi System on Chip with sensors and switches from multiple manufacturers to increase the purchasing options for consumers.</p>

<p>The features of SimplyIoT include automating tasks based on parameters like brightness and humidity, a GUI to manage sensors and switches, analytics on power consumption, and user authentication. Authenticated users will be able to interact with registered peripherals and see the usage history. Admins will be able to add and remove devices, and change the analytics dashboard. <p>

<p> Although the app is geared towards single-family homes, it can be scaled up in future implementation to control multi-family residentials. </p>

<%= link_to '/signup', class: 'btn btn-primary btn-lg btn-block' do %>
  <span class="glyphicon glyphicon-ok"></span>
  Sign Up!
<% end %>
