<footer class="footer">
      <div class="container">
              <copyright>
                  &copy; SimplyIoT <%= Time.now.year %>
              </copyright>
              <nav>
                <ul>
                  <li><%= link_to "Devices", controller: 'devices' %></li>
                </ul>
              </nav>
      </div>
</footer>