<div class="page-header">
  <%= link_to root_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Home
  <% end %>
  <h1>Sign up</h1>
</div>

<%= render 'form' %>
